body {
    font-family: Arial;
    background: #f0f2f5;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, select, textarea {
    width: 90%;
    margin: 5px;
    padding: 8px;
}